.container {
    width: 80%;
    margin: 30px auto;
    padding: 30px 30px 0px 30px;
    border: none;
    border-radius: 8px;
    background-color: #303030;
    box-shadow: 0px 0px 2rem 0px rgba(254, 253, 253, 0.944);
}
.container .container-header{
    color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 400;
    margin-top: -1rem;
}

.select-movie-container {
    flex-grow: 1;
}

.time-seats-container {
    background: none;
    justify-content: center;
    align-items: center;
}

.time-seats-container p {
    text-align: center;
    background: none;
}


.btn-booknow {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 2rem;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.btn-booknow:hover {
    background-color: #38853c;
}

.wrapper {
    display: flex;
    flex-grow: 0;
    overflow: visible;
}
