.last-booking-details-container {
    margin: 15px;
    padding: 13px;
    border-radius: 10px;
    background-color: #1e1e1e;
    box-shadow: 0px 4px 8px rgba(174, 171, 171, 0.2);
    color: #fff;
}

.last-booking-details-main-container {
    display: flex;
    flex-direction: column;
}

.last-booking-details-heading {
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 24px;
}

.seats-container {
    margin-bottom: 1px;
}

.seats-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.seats-container .seats {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.seat-value {
    width: 60px;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.slot,
.movie {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.slot span,
.movie span {
    font-weight: normal;
    font-size: 1rem;
    color: #bbb;
}
